<%= form_with(model: [@post, @comment] ) do |form| %>
  <div>
    <%= form.text_area :message, class: "input" %>
  </div>
  <div class="field">
  <%= form.label :image %>
  <%#= form.image_tag(@post.image.url) if @post.image && @post.image.url %>
  <%= form.file_field :image %>
  <%= form.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= form.submit "コメントをする" %>
  </div>
<% end %>
