<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>

  <tbody>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <p><%= link_to "#{comment.user.username}さん", user_path(comment.user.id) %></p>
      <p>コメント：<%= comment.message %></p>
      <div class="comment_image">
      <% if comment.image.present? %>
        <%= image_tag comment.image.to_s %>
      <% end %>
      <% if comment.user == current_user %>
        <p><%= link_to 'コメントを編集する', edit_post_comment_path(comment.post, comment), remote: true %></p>
        <p><%= link_to 'コメントを削除する', post_comment_path(comment.post_id, comment.id), method: :delete, remote: true %></p>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<p id="comment"></p>
<p id="error-message"></p>