<p id="notice"><%= notice %></p>

<p>
  <%= @comment.image %>
</p>

<p>
  <%= @comment.message %>
</p>

<p>
  <%= @comment.user_id %>
</p>

<p>
  <%= @comment.post_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
