<div class="">
  <div class="">
    <% unless @user.id == current_user.id %>
      <h1><%= @user.username %>さんのページ</h1>
    <% else %>
      <h1>My Page </h1>
      <%= link_to 'プロフィール変更', edit_user_registration_path(current_user) %> 
    <% end %>
  </div>
  <div class="">
    <% if @user.image.present? %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag("non-image.jpg") %>
    <% end %>
  </div>
  <div class="">
    <h3 class="">自己紹介</h3>
    <h4><%= @user.introduce %></h4>
  </div>

  <br><hr>

  <% unless @user.id == current_user.id %>
    <h1><%= @user.username %>さんの投稿</h1>
  <% else %>
    <h1>My Posts</h1>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post_youtube_url">
      <% unless post.youtube_url.blank? %>
        <div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      <% end %>
    </div>
    <br><br>
    <h4>
      <div class="post_contents">
        <%= post.content %>
      </div>
    </h4>
    <div class="post_image">
      <% unless post.image.blank? %>
        <%= image_tag post.image.to_s %>
      <% end %>
    </div>
    <br>
    <%= link_to t('post.Show'), post, class: 'btn btn-default' %> 
    <% if post.user_id == current_user.id %>
      <%= link_to t('post.Edit'), edit_post_path(post), class: 'btn btn-default' %> 
      <%= link_to t('post.Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %> 
    <% end %>
    <div id="favorite_button">
      <% if post.user_id != current_user.id %>
        <% if current_user.favorites.find_by(post_id: post.id).present? %>
          <%= link_to 'お気に入り解除する', favorite_path(id: post.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'お気に入りする', favorites_path(post_id: post.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
        <br><hr>
      <% end %>
    </div>
  <% end %>

  <br>

  <% unless @user.id == current_user.id %>
    <h1><%= @user.username %>さんのお気に入り投稿</h1>
  <% else %>
    <h1>My Favorites Posts</h1>
  <% end %>
  <br><hr>
  <div style="text-align:center;">
    <% @favorites.each do |favorite| %>
      <div class="user_info">
      <h4>
        <div class="user_icon">
          <%= link_to(user_path(favorite.post.user.id)) do %>
            <% unless favorite.post.user.image.blank? %>
              <%= image_tag favorite.post.user.image.to_s%>
            <% else %>
              <%= image_tag("non-image.jpg") %>
            <% end %>
          <% end %>
          <%= favorite.post.user.username %>
        </div>
      </h4>
      <div class="post_youtube_url">
        <% unless favorite.post.youtube_url.blank? %>
          <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=favorite.post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <% end %>
      </div
        <br><br
      <h4>
        <div class="post_contents">
          <%= favorite.post.content %>
        </div>
      </h4>
      <div class="post_image">
        <% unless favorite.post.image.blank? %>
          <%= image_tag favorite.post.image.to_s %>
        <% end %>
      </div>
      <div>
        <%= link_to t('post.Show'), favorite.post, class: 'btn btn-default' %>
      </div>
      <hr>
    <% end %>
  </div>
</div>