<p id="notice"><%= notice %></p>
<table>
  <theader>
  <%= search_form_for @q do |f| %>
    <%= f.search_field :content_cont, id: "search_bar" %>
    <%= f.submit "検索" %>
  <% end %>
  </theader>
  <h1>Posts</h1>
  <tbody>
    <% @posts.each do |post| %>
      <div class="user_info">
      <h4><div class="user_icon">
        <%= link_to(user_path(post.user.id)) do %>
        <% unless post.user.image.blank? %>
          <%= image_tag post.user.image.to_s%>
          <% else %>
          <%= image_tag("non-image.jpg") %>
        <% end %>
      <% end %>
          <%= post.user.username %></h4>
        </div>
      </div>
      <hr>
      <div class="post_youtube_url">
      <% unless post.youtube_url.blank? %>
        <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%=post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <% end %>
      <br><br>
      <div class="post_contents">
        <%= post.content %>
        </div>
        <br><br>
        <div class="post_image">
        <% unless post.image.blank? %>
          <%= image_tag post.image.to_s %>
        <% end %>
        </div>
      </div>
      <br>
        <p id="show_button"><%= link_to t('post.Show'), post, class: 'btn btn-default' %></p>
        <% if post.user_id == current_user.id %>
          <%= link_to t('post.Edit'), edit_post_path(post), class: 'btn btn-default' %>
          <%= link_to t('post.Destroy'), post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        <% end %>
        <div id="favorite_button"><% if post.user_id != current_user.id %>
          <% if current_user.favorites.find_by(post_id: post.id).present? %>
            <%= link_to 'お気に入り解除する', favorite_path(id: post.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(post_id: post.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %></div>
        <br><hr><br>
    <hr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
