<div class="show_container">
  <p id="notice"><%= notice %></p>

  <div class="user_info">
    <div class="user_icon">
    <% if @post.user.image.present? %>
    <%= image_tag @post.user.image.to_s %>
    <% else %>
      <%= image_tag("non-image.jpg") %>
    <% end %>
    </div>
    <%= @post.user.username %>
  </div>
  <hr>
  <p>
    <div class="post_youtube_url">
      <% unless @post.youtube_url.blank? %>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@post.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% end %>
      <hr>
      <%= @post.content %><br>
      <% unless @post.image.blank? %>
      <%= image_tag @post.image.to_s %>
      <% end %>
    </div>
  </p>
  <hr>

  <h4>コメント</h4>

  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, post: @post  } %>
  </div>  
  <% if user_signed_in? %>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
  <% end %>
  </div>
  <% if @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-default' %>
  <% end %>
  <%= link_to 'Back', posts_path, class: 'btn btn-default' %>
</div>